<%= form_for(@order_state) do |f| %>
  <% if @order_state.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order_state.errors.count, "error") %> prohibited this order_state from being saved:</h2>

      <ul>
      <% @order_state.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br />
    <%= f.number_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :local_id %><br />
    <%= f.number_field :local_id %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br />
    <%= f.number_field :client_id %>
  </div>
  <div class="field">
    <%= f.label :perm_id %><br />
    <%= f.number_field :perm_id %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.number_field :parent_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :filled %><br />
    <%= f.number_field :filled %>
  </div>
  <div class="field">
    <%= f.label :remaining %><br />
    <%= f.number_field :remaining %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :average_price %><br />
    <%= f.text_field :average_price %>
  </div>
  <div class="field">
    <%= f.label :why_held %><br />
    <%= f.text_field :why_held %>
  </div>
  <div class="field">
    <%= f.label :warning_text %><br />
    <%= f.text_field :warning_text %>
  </div>
  <div class="field">
    <%= f.label :commission_currency %><br />
    <%= f.text_field :commission_currency %>
  </div>
  <div class="field">
    <%= f.label :commission %><br />
    <%= f.text_field :commission %>
  </div>
  <div class="field">
    <%= f.label :min_commission %><br />
    <%= f.text_field :min_commission %>
  </div>
  <div class="field">
    <%= f.label :max_commission %><br />
    <%= f.text_field :max_commission %>
  </div>
  <div class="field">
    <%= f.label :init_margin %><br />
    <%= f.text_field :init_margin %>
  </div>
  <div class="field">
    <%= f.label :maint_margin %><br />
    <%= f.text_field :maint_margin %>
  </div>
  <div class="field">
    <%= f.label :equity_with_loan %><br />
    <%= f.text_field :equity_with_loan %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
