<h1>Listing Order States</h1>

<table>
  <tr>
    <th>Order</th>
    <th>Local</th>
    <th>Client</th>
    <th>Perm</th>
    <th>Parent</th>
    <th>Status</th>
    <th>Filled</th>
    <th>Remaining</th>
    <th>Price</th>
    <th>Average price</th>
    <th>Why held</th>
    <th>Warning text</th>
    <th>Commission currency</th>
    <th>Commission</th>
    <th>Min commission</th>
    <th>Max commission</th>
    <th>Init margin</th>
    <th>Maint margin</th>
    <th>Equity with loan</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @order_states.each do |order_state| %>
  <tr>
    <td><%= order_state.order_id %></td>
    <td><%= order_state.local_id %></td>
    <td><%= order_state.client_id %></td>
    <td><%= order_state.perm_id %></td>
    <td><%= order_state.parent_id %></td>
    <td><%= order_state.status %></td>
    <td><%= order_state.filled %></td>
    <td><%= order_state.remaining %></td>
    <td><%= order_state.price %></td>
    <td><%= order_state.average_price %></td>
    <td><%= order_state.why_held %></td>
    <td><%= order_state.warning_text %></td>
    <td><%= order_state.commission_currency %></td>
    <td><%= order_state.commission %></td>
    <td><%= order_state.min_commission %></td>
    <td><%= order_state.max_commission %></td>
    <td><%= order_state.init_margin %></td>
    <td><%= order_state.maint_margin %></td>
    <td><%= order_state.equity_with_loan %></td>
    <td><%= link_to 'Show', order_state %></td>
    <td><%= link_to 'Edit', edit_order_state_path(order_state) %></td>
    <td><%= link_to 'Destroy', order_state, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order State', new_order_state_path %>
