<p id="notice"><%= notice %></p>

<p>
  <b>Order:</b>
  <%= @order_state.order_id %>
</p>

<p>
  <b>Local:</b>
  <%= @order_state.local_id %>
</p>

<p>
  <b>Client:</b>
  <%= @order_state.client_id %>
</p>

<p>
  <b>Perm:</b>
  <%= @order_state.perm_id %>
</p>

<p>
  <b>Parent:</b>
  <%= @order_state.parent_id %>
</p>

<p>
  <b>Status:</b>
  <%= @order_state.status %>
</p>

<p>
  <b>Filled:</b>
  <%= @order_state.filled %>
</p>

<p>
  <b>Remaining:</b>
  <%= @order_state.remaining %>
</p>

<p>
  <b>Price:</b>
  <%= @order_state.price %>
</p>

<p>
  <b>Average price:</b>
  <%= @order_state.average_price %>
</p>

<p>
  <b>Why held:</b>
  <%= @order_state.why_held %>
</p>

<p>
  <b>Warning text:</b>
  <%= @order_state.warning_text %>
</p>

<p>
  <b>Commission currency:</b>
  <%= @order_state.commission_currency %>
</p>

<p>
  <b>Commission:</b>
  <%= @order_state.commission %>
</p>

<p>
  <b>Min commission:</b>
  <%= @order_state.min_commission %>
</p>

<p>
  <b>Max commission:</b>
  <%= @order_state.max_commission %>
</p>

<p>
  <b>Init margin:</b>
  <%= @order_state.init_margin %>
</p>

<p>
  <b>Maint margin:</b>
  <%= @order_state.maint_margin %>
</p>

<p>
  <b>Equity with loan:</b>
  <%= @order_state.equity_with_loan %>
</p>


<%= link_to 'Edit', edit_order_state_path(@order_state) %> |
<%= link_to 'Back', order_states_path %>
