<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contract_id %><br />
    <%= f.number_field :contract_id %>
  </div>
  <div class="field">
    <%= f.label :local_id %><br />
    <%= f.number_field :local_id %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br />
    <%= f.number_field :client_id %>
  </div>
  <div class="field">
    <%= f.label :perm_id %><br />
    <%= f.number_field :perm_id %>
  </div>
  <div class="field">
    <%= f.label :parent_id %><br />
    <%= f.number_field :parent_id %>
  </div>
  <div class="field">
    <%= f.label :order_ref %><br />
    <%= f.text_field :order_ref %>
  </div>
  <div class="field">
    <%= f.label :order_type %><br />
    <%= f.text_field :order_type %>
  </div>
  <div class="field">
    <%= f.label :tif %><br />
    <%= f.text_field :tif %>
  </div>
  <div class="field">
    <%= f.label :side %><br />
    <%= f.text_field :side %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :limit_price %><br />
    <%= f.text_field :limit_price %>
  </div>
  <div class="field">
    <%= f.label :aux_price %><br />
    <%= f.text_field :aux_price %>
  </div>
  <div class="field">
    <%= f.label :open_close %><br />
    <%= f.number_field :open_close %>
  </div>
  <div class="field">
    <%= f.label :oca_type %><br />
    <%= f.number_field :oca_type %>
  </div>
  <div class="field">
    <%= f.label :oca_group %><br />
    <%= f.text_field :oca_group %>
  </div>
  <div class="field">
    <%= f.label :transmit %><br />
    <%= f.check_box :transmit %>
  </div>
  <div class="field">
    <%= f.label :what_if %><br />
    <%= f.check_box :what_if %>
  </div>
  <div class="field">
    <%= f.label :outside_rth %><br />
    <%= f.check_box :outside_rth %>
  </div>
  <div class="field">
    <%= f.label :not_held %><br />
    <%= f.check_box :not_held %>
  </div>
  <div class="field">
    <%= f.label :hidden %><br />
    <%= f.check_box :hidden %>
  </div>
  <div class="field">
    <%= f.label :block_order %><br />
    <%= f.check_box :block_order %>
  </div>
  <div class="field">
    <%= f.label :sweep_to_fill %><br />
    <%= f.check_box :sweep_to_fill %>
  </div>
  <div class="field">
    <%= f.label :all_or_none %><br />
    <%= f.check_box :all_or_none %>
  </div>
  <div class="field">
    <%= f.label :etrade_only %><br />
    <%= f.check_box :etrade_only %>
  </div>
  <div class="field">
    <%= f.label :firm_quote_only %><br />
    <%= f.check_box :firm_quote_only %>
  </div>
  <div class="field">
    <%= f.label :opt_out_smart_routing %><br />
    <%= f.check_box :opt_out_smart_routing %>
  </div>
  <div class="field">
    <%= f.label :override_percentage_constraints %><br />
    <%= f.check_box :override_percentage_constraints %>
  </div>
  <div class="field">
    <%= f.label :min_quantity %><br />
    <%= f.number_field :min_quantity %>
  </div>
  <div class="field">
    <%= f.label :display_size %><br />
    <%= f.number_field :display_size %>
  </div>
  <div class="field">
    <%= f.label :trigger_method %><br />
    <%= f.number_field :trigger_method %>
  </div>
  <div class="field">
    <%= f.label :origin %><br />
    <%= f.number_field :origin %>
  </div>
  <div class="field">
    <%= f.label :good_after_time %><br />
    <%= f.text_field :good_after_time %>
  </div>
  <div class="field">
    <%= f.label :good_till_date %><br />
    <%= f.text_field :good_till_date %>
  </div>
  <div class="field">
    <%= f.label :rule_80a %><br />
    <%= f.text_field :rule_80a %>
  </div>
  <div class="field">
    <%= f.label :percent_offset %><br />
    <%= f.text_field :percent_offset %>
  </div>
  <div class="field">
    <%= f.label :trail_stop_price %><br />
    <%= f.text_field :trail_stop_price %>
  </div>
  <div class="field">
    <%= f.label :trailing_percent %><br />
    <%= f.text_field :trailing_percent %>
  </div>
  <div class="field">
    <%= f.label :fa_group %><br />
    <%= f.text_field :fa_group %>
  </div>
  <div class="field">
    <%= f.label :fa_profile %><br />
    <%= f.text_field :fa_profile %>
  </div>
  <div class="field">
    <%= f.label :fa_method %><br />
    <%= f.text_field :fa_method %>
  </div>
  <div class="field">
    <%= f.label :fa_percentage %><br />
    <%= f.text_field :fa_percentage %>
  </div>
  <div class="field">
    <%= f.label :short_sale_slot %><br />
    <%= f.number_field :short_sale_slot %>
  </div>
  <div class="field">
    <%= f.label :designated_location %><br />
    <%= f.text_field :designated_location %>
  </div>
  <div class="field">
    <%= f.label :exempt_code %><br />
    <%= f.number_field :exempt_code %>
  </div>
  <div class="field">
    <%= f.label :account %><br />
    <%= f.text_field :account %>
  </div>
  <div class="field">
    <%= f.label :settling_firm %><br />
    <%= f.text_field :settling_firm %>
  </div>
  <div class="field">
    <%= f.label :clearing_account %><br />
    <%= f.text_field :clearing_account %>
  </div>
  <div class="field">
    <%= f.label :clearing_intent %><br />
    <%= f.text_field :clearing_intent %>
  </div>
  <div class="field">
    <%= f.label :discretionary_amount %><br />
    <%= f.text_field :discretionary_amount %>
  </div>
  <div class="field">
    <%= f.label :nbbo_price_cap %><br />
    <%= f.text_field :nbbo_price_cap %>
  </div>
  <div class="field">
    <%= f.label :auction_strategy %><br />
    <%= f.number_field :auction_strategy %>
  </div>
  <div class="field">
    <%= f.label :starting_price %><br />
    <%= f.text_field :starting_price %>
  </div>
  <div class="field">
    <%= f.label :stock_ref_price %><br />
    <%= f.text_field :stock_ref_price %>
  </div>
  <div class="field">
    <%= f.label :delta %><br />
    <%= f.text_field :delta %>
  </div>
  <div class="field">
    <%= f.label :stock_range_lower %><br />
    <%= f.text_field :stock_range_lower %>
  </div>
  <div class="field">
    <%= f.label :stock_range_upper %><br />
    <%= f.text_field :stock_range_upper %>
  </div>
  <div class="field">
    <%= f.label :volatility %><br />
    <%= f.text_field :volatility %>
  </div>
  <div class="field">
    <%= f.label :volatility_type %><br />
    <%= f.number_field :volatility_type %>
  </div>
  <div class="field">
    <%= f.label :reference_price_type %><br />
    <%= f.number_field :reference_price_type %>
  </div>
  <div class="field">
    <%= f.label :continuous_update %><br />
    <%= f.number_field :continuous_update %>
  </div>
  <div class="field">
    <%= f.label :delta_neutral_order_type %><br />
    <%= f.text_field :delta_neutral_order_type %>
  </div>
  <div class="field">
    <%= f.label :delta_neutral_aux_price %><br />
    <%= f.text_field :delta_neutral_aux_price %>
  </div>
  <div class="field">
    <%= f.label :delta_neutral_con_id %><br />
    <%= f.number_field :delta_neutral_con_id %>
  </div>
  <div class="field">
    <%= f.label :delta_neutral_settling_firm %><br />
    <%= f.text_field :delta_neutral_settling_firm %>
  </div>
  <div class="field">
    <%= f.label :delta_neutral_clearing_account %><br />
    <%= f.text_field :delta_neutral_clearing_account %>
  </div>
  <div class="field">
    <%= f.label :delta_neutral_clearing_intent %><br />
    <%= f.text_field :delta_neutral_clearing_intent %>
  </div>
  <div class="field">
    <%= f.label :hedge_type %><br />
    <%= f.text_field :hedge_type %>
  </div>
  <div class="field">
    <%= f.label :hedge_param %><br />
    <%= f.text_field :hedge_param %>
  </div>
  <div class="field">
    <%= f.label :basis_points %><br />
    <%= f.text_field :basis_points %>
  </div>
  <div class="field">
    <%= f.label :basis_points_type %><br />
    <%= f.text_field :basis_points_type %>
  </div>
  <div class="field">
    <%= f.label :algo_strategy %><br />
    <%= f.text_field :algo_strategy %>
  </div>
  <div class="field">
    <%= f.label :leg_prices %><br />
    <%= f.text_area :leg_prices %>
  </div>
  <div class="field">
    <%= f.label :scale_init_level_size %><br />
    <%= f.number_field :scale_init_level_size %>
  </div>
  <div class="field">
    <%= f.label :scale_subs_level_size %><br />
    <%= f.number_field :scale_subs_level_size %>
  </div>
  <div class="field">
    <%= f.label :scale_price_increment %><br />
    <%= f.text_field :scale_price_increment %>
  </div>
  <div class="field">
    <%= f.label :scale_price_adjust_value %><br />
    <%= f.text_field :scale_price_adjust_value %>
  </div>
  <div class="field">
    <%= f.label :scale_price_adjust_interval %><br />
    <%= f.number_field :scale_price_adjust_interval %>
  </div>
  <div class="field">
    <%= f.label :scale_profit_offset %><br />
    <%= f.text_field :scale_profit_offset %>
  </div>
  <div class="field">
    <%= f.label :scale_init_position %><br />
    <%= f.number_field :scale_init_position %>
  </div>
  <div class="field">
    <%= f.label :scale_init_fill_qty %><br />
    <%= f.number_field :scale_init_fill_qty %>
  </div>
  <div class="field">
    <%= f.label :scale_auto_reset %><br />
    <%= f.check_box :scale_auto_reset %>
  </div>
  <div class="field">
    <%= f.label :scale_random_percent %><br />
    <%= f.check_box :scale_random_percent %>
  </div>
  <div class="field">
    <%= f.label :placed_at %><br />
    <%= f.datetime_select :placed_at %>
  </div>
  <div class="field">
    <%= f.label :modified_at %><br />
    <%= f.datetime_select :modified_at %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
