<h1>Listing orders</h1>

<table>
  <tr>
    <th>Contract</th>
    <th>Local</th>
    <th>Client</th>
    <th>Perm</th>
    <th>Parent</th>
    <th>Order ref</th>
    <th>Order type</th>
    <th>Tif</th>
    <th>Side</th>
    <th>Quantity</th>
    <th>Limit price</th>
    <th>Aux price</th>
    <th>Open close</th>
    <th>Oca type</th>
    <th>Oca group</th>
    <th>Transmit</th>
    <th>What if</th>
    <th>Outside rth</th>
    <th>Not held</th>
    <th>Hidden</th>
    <th>Block order</th>
    <th>Sweep to fill</th>
    <th>All or none</th>
    <th>Etrade only</th>
    <th>Firm quote only</th>
    <th>Opt out smart routing</th>
    <th>Override percentage constraints</th>
    <th>Min quantity</th>
    <th>Display size</th>
    <th>Trigger method</th>
    <th>Origin</th>
    <th>Good after time</th>
    <th>Good till date</th>
    <th>Rule 80a</th>
    <th>Percent offset</th>
    <th>Trail stop price</th>
    <th>Trailing percent</th>
    <th>Fa group</th>
    <th>Fa profile</th>
    <th>Fa method</th>
    <th>Fa percentage</th>
    <th>Short sale slot</th>
    <th>Designated location</th>
    <th>Exempt code</th>
    <th>Account</th>
    <th>Settling firm</th>
    <th>Clearing account</th>
    <th>Clearing intent</th>
    <th>Discretionary amount</th>
    <th>Nbbo price cap</th>
    <th>Auction strategy</th>
    <th>Starting price</th>
    <th>Stock ref price</th>
    <th>Delta</th>
    <th>Stock range lower</th>
    <th>Stock range upper</th>
    <th>Volatility</th>
    <th>Volatility type</th>
    <th>Reference price type</th>
    <th>Continuous update</th>
    <th>Delta neutral order type</th>
    <th>Delta neutral aux price</th>
    <th>Delta neutral con</th>
    <th>Delta neutral settling firm</th>
    <th>Delta neutral clearing account</th>
    <th>Delta neutral clearing intent</th>
    <th>Hedge type</th>
    <th>Hedge param</th>
    <th>Basis points</th>
    <th>Basis points type</th>
    <th>Algo strategy</th>
    <th>Leg prices</th>
    <th>Algo params</th>
    <th>Combo params</th>
    <th>Scale init level size</th>
    <th>Scale subs level size</th>
    <th>Scale price increment</th>
    <th>Scale price adjust value</th>
    <th>Scale price adjust interval</th>
    <th>Scale profit offset</th>
    <th>Scale init position</th>
    <th>Scale init fill qty</th>
    <th>Scale auto reset</th>
    <th>Scale random percent</th>
    <th>Placed at</th>
    <th>Modified at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.contract_id %></td>
    <td><%= order.local_id %></td>
    <td><%= order.client_id %></td>
    <td><%= order.perm_id %></td>
    <td><%= order.parent_id %></td>
    <td><%= order.order_ref %></td>
    <td><%= order.order_type %></td>
    <td><%= order.tif %></td>
    <td><%= order.side %></td>
    <td><%= order.quantity %></td>
    <td><%= order.limit_price %></td>
    <td><%= order.aux_price %></td>
    <td><%= order.open_close %></td>
    <td><%= order.oca_type %></td>
    <td><%= order.oca_group %></td>
    <td><%= order.transmit %></td>
    <td><%= order.what_if %></td>
    <td><%= order.outside_rth %></td>
    <td><%= order.not_held %></td>
    <td><%= order.hidden %></td>
    <td><%= order.block_order %></td>
    <td><%= order.sweep_to_fill %></td>
    <td><%= order.all_or_none %></td>
    <td><%= order.etrade_only %></td>
    <td><%= order.firm_quote_only %></td>
    <td><%= order.opt_out_smart_routing %></td>
    <td><%= order.override_percentage_constraints %></td>
    <td><%= order.min_quantity %></td>
    <td><%= order.display_size %></td>
    <td><%= order.trigger_method %></td>
    <td><%= order.origin %></td>
    <td><%= order.good_after_time %></td>
    <td><%= order.good_till_date %></td>
    <td><%= order.rule_80a %></td>
    <td><%= order.percent_offset %></td>
    <td><%= order.trail_stop_price %></td>
    <td><%= order.trailing_percent %></td>
    <td><%= order.fa_group %></td>
    <td><%= order.fa_profile %></td>
    <td><%= order.fa_method %></td>
    <td><%= order.fa_percentage %></td>
    <td><%= order.short_sale_slot %></td>
    <td><%= order.designated_location %></td>
    <td><%= order.exempt_code %></td>
    <td><%= order.account %></td>
    <td><%= order.settling_firm %></td>
    <td><%= order.clearing_account %></td>
    <td><%= order.clearing_intent %></td>
    <td><%= order.discretionary_amount %></td>
    <td><%= order.nbbo_price_cap %></td>
    <td><%= order.auction_strategy %></td>
    <td><%= order.starting_price %></td>
    <td><%= order.stock_ref_price %></td>
    <td><%= order.delta %></td>
    <td><%= order.stock_range_lower %></td>
    <td><%= order.stock_range_upper %></td>
    <td><%= order.volatility %></td>
    <td><%= order.volatility_type %></td>
    <td><%= order.reference_price_type %></td>
    <td><%= order.continuous_update %></td>
    <td><%= order.delta_neutral_order_type %></td>
    <td><%= order.delta_neutral_aux_price %></td>
    <td><%= order.delta_neutral_con_id %></td>
    <td><%= order.delta_neutral_settling_firm %></td>
    <td><%= order.delta_neutral_clearing_account %></td>
    <td><%= order.delta_neutral_clearing_intent %></td>
    <td><%= order.hedge_type %></td>
    <td><%= order.hedge_param %></td>
    <td><%= order.basis_points %></td>
    <td><%= order.basis_points_type %></td>
    <td><%= order.algo_strategy %></td>
    <td><%= order.leg_prices %></td>
    <td><%= order.algo_params %></td>
    <td><%= order.combo_params %></td>
    <td><%= order.scale_init_level_size %></td>
    <td><%= order.scale_subs_level_size %></td>
    <td><%= order.scale_price_increment %></td>
    <td><%= order.scale_price_adjust_value %></td>
    <td><%= order.scale_price_adjust_interval %></td>
    <td><%= order.scale_profit_offset %></td>
    <td><%= order.scale_init_position %></td>
    <td><%= order.scale_init_fill_qty %></td>
    <td><%= order.scale_auto_reset %></td>
    <td><%= order.scale_random_percent %></td>
    <td><%= order.placed_at %></td>
    <td><%= order.modified_at %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
