<p id="notice"><%= notice %></p>

<p>
  <b>Contract:</b>
  <%= @order.contract_id %>
</p>

<p>
  <b>Local:</b>
  <%= @order.local_id %>
</p>

<p>
  <b>Client:</b>
  <%= @order.client_id %>
</p>

<p>
  <b>Perm:</b>
  <%= @order.perm_id %>
</p>

<p>
  <b>Parent:</b>
  <%= @order.parent_id %>
</p>

<p>
  <b>Order ref:</b>
  <%= @order.order_ref %>
</p>

<p>
  <b>Order type:</b>
  <%= @order.order_type %>
</p>

<p>
  <b>Tif:</b>
  <%= @order.tif %>
</p>

<p>
  <b>Side:</b>
  <%= @order.side %>
</p>

<p>
  <b>Quantity:</b>
  <%= @order.quantity %>
</p>

<p>
  <b>Limit price:</b>
  <%= @order.limit_price %>
</p>

<p>
  <b>Aux price:</b>
  <%= @order.aux_price %>
</p>

<p>
  <b>Open close:</b>
  <%= @order.open_close %>
</p>

<p>
  <b>Oca type:</b>
  <%= @order.oca_type %>
</p>

<p>
  <b>Oca group:</b>
  <%= @order.oca_group %>
</p>

<p>
  <b>Transmit:</b>
  <%= @order.transmit %>
</p>

<p>
  <b>What if:</b>
  <%= @order.what_if %>
</p>

<p>
  <b>Outside rth:</b>
  <%= @order.outside_rth %>
</p>

<p>
  <b>Not held:</b>
  <%= @order.not_held %>
</p>

<p>
  <b>Hidden:</b>
  <%= @order.hidden %>
</p>

<p>
  <b>Block order:</b>
  <%= @order.block_order %>
</p>

<p>
  <b>Sweep to fill:</b>
  <%= @order.sweep_to_fill %>
</p>

<p>
  <b>All or none:</b>
  <%= @order.all_or_none %>
</p>

<p>
  <b>Etrade only:</b>
  <%= @order.etrade_only %>
</p>

<p>
  <b>Firm quote only:</b>
  <%= @order.firm_quote_only %>
</p>

<p>
  <b>Opt out smart routing:</b>
  <%= @order.opt_out_smart_routing %>
</p>

<p>
  <b>Override percentage constraints:</b>
  <%= @order.override_percentage_constraints %>
</p>

<p>
  <b>Min quantity:</b>
  <%= @order.min_quantity %>
</p>

<p>
  <b>Display size:</b>
  <%= @order.display_size %>
</p>

<p>
  <b>Trigger method:</b>
  <%= @order.trigger_method %>
</p>

<p>
  <b>Origin:</b>
  <%= @order.origin %>
</p>

<p>
  <b>Good after time:</b>
  <%= @order.good_after_time %>
</p>

<p>
  <b>Good till date:</b>
  <%= @order.good_till_date %>
</p>

<p>
  <b>Rule 80a:</b>
  <%= @order.rule_80a %>
</p>

<p>
  <b>Percent offset:</b>
  <%= @order.percent_offset %>
</p>

<p>
  <b>Trail stop price:</b>
  <%= @order.trail_stop_price %>
</p>

<p>
  <b>Trailing percent:</b>
  <%= @order.trailing_percent %>
</p>

<p>
  <b>Fa group:</b>
  <%= @order.fa_group %>
</p>

<p>
  <b>Fa profile:</b>
  <%= @order.fa_profile %>
</p>

<p>
  <b>Fa method:</b>
  <%= @order.fa_method %>
</p>

<p>
  <b>Fa percentage:</b>
  <%= @order.fa_percentage %>
</p>

<p>
  <b>Short sale slot:</b>
  <%= @order.short_sale_slot %>
</p>

<p>
  <b>Designated location:</b>
  <%= @order.designated_location %>
</p>

<p>
  <b>Exempt code:</b>
  <%= @order.exempt_code %>
</p>

<p>
  <b>Account:</b>
  <%= @order.account %>
</p>

<p>
  <b>Settling firm:</b>
  <%= @order.settling_firm %>
</p>

<p>
  <b>Clearing account:</b>
  <%= @order.clearing_account %>
</p>

<p>
  <b>Clearing intent:</b>
  <%= @order.clearing_intent %>
</p>

<p>
  <b>Discretionary amount:</b>
  <%= @order.discretionary_amount %>
</p>

<p>
  <b>Nbbo price cap:</b>
  <%= @order.nbbo_price_cap %>
</p>

<p>
  <b>Auction strategy:</b>
  <%= @order.auction_strategy %>
</p>

<p>
  <b>Starting price:</b>
  <%= @order.starting_price %>
</p>

<p>
  <b>Stock ref price:</b>
  <%= @order.stock_ref_price %>
</p>

<p>
  <b>Delta:</b>
  <%= @order.delta %>
</p>

<p>
  <b>Stock range lower:</b>
  <%= @order.stock_range_lower %>
</p>

<p>
  <b>Stock range upper:</b>
  <%= @order.stock_range_upper %>
</p>

<p>
  <b>Volatility:</b>
  <%= @order.volatility %>
</p>

<p>
  <b>Volatility type:</b>
  <%= @order.volatility_type %>
</p>

<p>
  <b>Reference price type:</b>
  <%= @order.reference_price_type %>
</p>

<p>
  <b>Continuous update:</b>
  <%= @order.continuous_update %>
</p>

<p>
  <b>Delta neutral order type:</b>
  <%= @order.delta_neutral_order_type %>
</p>

<p>
  <b>Delta neutral aux price:</b>
  <%= @order.delta_neutral_aux_price %>
</p>

<p>
  <b>Delta neutral con:</b>
  <%= @order.delta_neutral_con_id %>
</p>

<p>
  <b>Delta neutral settling firm:</b>
  <%= @order.delta_neutral_settling_firm %>
</p>

<p>
  <b>Delta neutral clearing account:</b>
  <%= @order.delta_neutral_clearing_account %>
</p>

<p>
  <b>Delta neutral clearing intent:</b>
  <%= @order.delta_neutral_clearing_intent %>
</p>

<p>
  <b>Hedge type:</b>
  <%= @order.hedge_type %>
</p>

<p>
  <b>Hedge param:</b>
  <%= @order.hedge_param %>
</p>

<p>
  <b>Basis points:</b>
  <%= @order.basis_points %>
</p>

<p>
  <b>Basis points type:</b>
  <%= @order.basis_points_type %>
</p>

<p>
  <b>Algo strategy:</b>
  <%= @order.algo_strategy %>
</p>

<p>
  <b>Leg prices:</b>
  <%= @order.leg_prices %>
</p>

<p>
  <b>Algo params:</b>
  <%= @order.algo_params %>
</p>

<p>
  <b>Combo params:</b>
  <%= @order.combo_params %>
</p>

<p>
  <b>Scale init level size:</b>
  <%= @order.scale_init_level_size %>
</p>

<p>
  <b>Scale subs level size:</b>
  <%= @order.scale_subs_level_size %>
</p>

<p>
  <b>Scale price increment:</b>
  <%= @order.scale_price_increment %>
</p>

<p>
  <b>Scale price adjust value:</b>
  <%= @order.scale_price_adjust_value %>
</p>

<p>
  <b>Scale price adjust interval:</b>
  <%= @order.scale_price_adjust_interval %>
</p>

<p>
  <b>Scale profit offset:</b>
  <%= @order.scale_profit_offset %>
</p>

<p>
  <b>Scale init position:</b>
  <%= @order.scale_init_position %>
</p>

<p>
  <b>Scale init fill qty:</b>
  <%= @order.scale_init_fill_qty %>
</p>

<p>
  <b>Scale auto reset:</b>
  <%= @order.scale_auto_reset %>
</p>

<p>
  <b>Scale random percent:</b>
  <%= @order.scale_random_percent %>
</p>

<p>
  <b>Placed at:</b>
  <%= @order.placed_at %>
</p>

<p>
  <b>Modified at:</b>
  <%= @order.modified_at %>
</p>


<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
