<%= form_for(@combo_leg) do |f| %>
  <% if @combo_leg.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@combo_leg.errors.count, "error") %> prohibited this combo_leg from being saved:</h2>

      <ul>
      <% @combo_leg.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :combo_id %><br />
    <%= f.number_field :combo_id %>
  </div>
  <div class="field">
    <%= f.label :leg_contract_id %><br />
    <%= f.number_field :leg_contract_id %>
  </div>
  <div class="field">
    <%= f.label :con_id %><br />
    <%= f.number_field :con_id %>
  </div>
  <div class="field">
    <%= f.label :side %><br />
    <%= f.text_field :side %>
  </div>
  <div class="field">
    <%= f.label :ratio %><br />
    <%= f.number_field :ratio %>
  </div>
  <div class="field">
    <%= f.label :exchange %><br />
    <%= f.text_field :exchange %>
  </div>
  <div class="field">
    <%= f.label :exempt_code %><br />
    <%= f.number_field :exempt_code %>
  </div>
  <div class="field">
    <%= f.label :short_sale_slot %><br />
    <%= f.number_field :short_sale_slot %>
  </div>
  <div class="field">
    <%= f.label :open_close %><br />
    <%= f.number_field :open_close %>
  </div>
  <div class="field">
    <%= f.label :designated_location %><br />
    <%= f.text_field :designated_location %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
