<h1>Listing combo_legs</h1>

<table>
  <tr>
    <th>Combo</th>
    <th>Leg contract</th>
    <th>Con</th>
    <th>Side</th>
    <th>Ratio</th>
    <th>Exchange</th>
    <th>Exempt code</th>
    <th>Short sale slot</th>
    <th>Open close</th>
    <th>Designated location</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @combo_legs.each do |combo_leg| %>
  <tr>
    <td><%= combo_leg.combo_id %></td>
    <td><%= combo_leg.leg_contract_id %></td>
    <td><%= combo_leg.con_id %></td>
    <td><%= combo_leg.side %></td>
    <td><%= combo_leg.ratio %></td>
    <td><%= combo_leg.exchange %></td>
    <td><%= combo_leg.exempt_code %></td>
    <td><%= combo_leg.short_sale_slot %></td>
    <td><%= combo_leg.open_close %></td>
    <td><%= combo_leg.designated_location %></td>
    <td><%= link_to 'Show', combo_leg %></td>
    <td><%= link_to 'Edit', edit_combo_leg_path(combo_leg) %></td>
    <td><%= link_to 'Destroy', combo_leg, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Combo leg', new_combo_leg_path %>
