<p id="notice"><%= notice %></p>

<p>
  <b>Combo:</b>
  <%= @combo_leg.combo_id %>
</p>

<p>
  <b>Leg contract:</b>
  <%= @combo_leg.leg_contract_id %>
</p>

<p>
  <b>Con:</b>
  <%= @combo_leg.con_id %>
</p>

<p>
  <b>Side:</b>
  <%= @combo_leg.side %>
</p>

<p>
  <b>Ratio:</b>
  <%= @combo_leg.ratio %>
</p>

<p>
  <b>Exchange:</b>
  <%= @combo_leg.exchange %>
</p>

<p>
  <b>Exempt code:</b>
  <%= @combo_leg.exempt_code %>
</p>

<p>
  <b>Short sale slot:</b>
  <%= @combo_leg.short_sale_slot %>
</p>

<p>
  <b>Open close:</b>
  <%= @combo_leg.open_close %>
</p>

<p>
  <b>Designated location:</b>
  <%= @combo_leg.designated_location %>
</p>


<%= link_to 'Edit', edit_combo_leg_path(@combo_leg) %> |
<%= link_to 'Back', combo_legs_path %>
