<%= form_for(@contract_detail) do |f| %>
  <% if @contract_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract_detail.errors.count, "error") %> prohibited this contract_detail from being saved:</h2>

      <ul>
      <% @contract_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contract_id %><br />
    <%= f.number_field :contract_id %>
  </div>
  <div class="field">
    <%= f.label :market_name %><br />
    <%= f.text_field :market_name %>
  </div>
  <div class="field">
    <%= f.label :trading_class %><br />
    <%= f.text_field :trading_class %>
  </div>
  <div class="field">
    <%= f.label :min_tick %><br />
    <%= f.text_field :min_tick %>
  </div>
  <div class="field">
    <%= f.label :price_magnifier %><br />
    <%= f.number_field :price_magnifier %>
  </div>
  <div class="field">
    <%= f.label :order_types %><br />
    <%= f.text_field :order_types %>
  </div>
  <div class="field">
    <%= f.label :valid_exchanges %><br />
    <%= f.text_field :valid_exchanges %>
  </div>
  <div class="field">
    <%= f.label :under_con_id %><br />
    <%= f.number_field :under_con_id %>
  </div>
  <div class="field">
    <%= f.label :long_name %><br />
    <%= f.text_field :long_name %>
  </div>
  <div class="field">
    <%= f.label :contract_month %><br />
    <%= f.text_field :contract_month %>
  </div>
  <div class="field">
    <%= f.label :industry %><br />
    <%= f.text_field :industry %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :subcategory %><br />
    <%= f.text_field :subcategory %>
  </div>
  <div class="field">
    <%= f.label :time_zone %><br />
    <%= f.text_field :time_zone %>
  </div>
  <div class="field">
    <%= f.label :trading_hours %><br />
    <%= f.text_field :trading_hours %>
  </div>
  <div class="field">
    <%= f.label :liquid_hours %><br />
    <%= f.text_field :liquid_hours %>
  </div>
  <div class="field">
    <%= f.label :cusip %><br />
    <%= f.text_field :cusip %>
  </div>
  <div class="field">
    <%= f.label :ratings %><br />
    <%= f.text_field :ratings %>
  </div>
  <div class="field">
    <%= f.label :desc_append %><br />
    <%= f.text_field :desc_append %>
  </div>
  <div class="field">
    <%= f.label :bond_type %><br />
    <%= f.text_field :bond_type %>
  </div>
  <div class="field">
    <%= f.label :oupon_type %><br />
    <%= f.text_field :oupon_type %>
  </div>
  <div class="field">
    <%= f.label :coupon %><br />
    <%= f.text_field :coupon %>
  </div>
  <div class="field">
    <%= f.label :maturity %><br />
    <%= f.text_field :maturity %>
  </div>
  <div class="field">
    <%= f.label :issue_date %><br />
    <%= f.text_field :issue_date %>
  </div>
  <div class="field">
    <%= f.label :next_option_date %><br />
    <%= f.text_field :next_option_date %>
  </div>
  <div class="field">
    <%= f.label :next_option_type %><br />
    <%= f.text_field :next_option_type %>
  </div>
  <div class="field">
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </div>
  <div class="field">
    <%= f.label :callable %><br />
    <%= f.check_box :callable %>
  </div>
  <div class="field">
    <%= f.label :puttable %><br />
    <%= f.check_box :puttable %>
  </div>
  <div class="field">
    <%= f.label :convertible %><br />
    <%= f.check_box :convertible %>
  </div>
  <div class="field">
    <%= f.label :next_option_partial %><br />
    <%= f.check_box :next_option_partial %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
