<h1>Listing contract_details</h1>

<table>
  <tr>
    <th>Contract</th>
    <th>Market name</th>
    <th>Trading class</th>
    <th>Min tick</th>
    <th>Price magnifier</th>
    <th>Order types</th>
    <th>Valid exchanges</th>
    <th>Under con</th>
    <th>Long name</th>
    <th>Contract month</th>
    <th>Industry</th>
    <th>Category</th>
    <th>Subcategory</th>
    <th>Time zone</th>
    <th>Trading hours</th>
    <th>Liquid hours</th>
    <th>Cusip</th>
    <th>Ratings</th>
    <th>Desc append</th>
    <th>Bond type</th>
    <th>Oupon type</th>
    <th>Coupon</th>
    <th>Maturity</th>
    <th>Issue date</th>
    <th>Next option date</th>
    <th>Next option type</th>
    <th>Notes</th>
    <th>Callable</th>
    <th>Puttable</th>
    <th>Convertible</th>
    <th>Next option partial</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contract_details.each do |contract_detail| %>
  <tr>
    <td><%= contract_detail.contract_id %></td>
    <td><%= contract_detail.market_name %></td>
    <td><%= contract_detail.trading_class %></td>
    <td><%= contract_detail.min_tick %></td>
    <td><%= contract_detail.price_magnifier %></td>
    <td><%= contract_detail.order_types %></td>
    <td><%= contract_detail.valid_exchanges %></td>
    <td><%= contract_detail.under_con_id %></td>
    <td><%= contract_detail.long_name %></td>
    <td><%= contract_detail.contract_month %></td>
    <td><%= contract_detail.industry %></td>
    <td><%= contract_detail.category %></td>
    <td><%= contract_detail.subcategory %></td>
    <td><%= contract_detail.time_zone %></td>
    <td><%= contract_detail.trading_hours %></td>
    <td><%= contract_detail.liquid_hours %></td>
    <td><%= contract_detail.cusip %></td>
    <td><%= contract_detail.ratings %></td>
    <td><%= contract_detail.desc_append %></td>
    <td><%= contract_detail.bond_type %></td>
    <td><%= contract_detail.oupon_type %></td>
    <td><%= contract_detail.coupon %></td>
    <td><%= contract_detail.maturity %></td>
    <td><%= contract_detail.issue_date %></td>
    <td><%= contract_detail.next_option_date %></td>
    <td><%= contract_detail.next_option_type %></td>
    <td><%= contract_detail.notes %></td>
    <td><%= contract_detail.callable %></td>
    <td><%= contract_detail.puttable %></td>
    <td><%= contract_detail.convertible %></td>
    <td><%= contract_detail.next_option_partial %></td>
    <td><%= link_to 'Show', contract_detail %></td>
    <td><%= link_to 'Edit', edit_contract_detail_path(contract_detail) %></td>
    <td><%= link_to 'Destroy', contract_detail, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contract detail', new_contract_detail_path %>
