<p id="notice"><%= notice %></p>

<p>
  <b>Contract:</b>
  <%= @contract_detail.contract_id %>
</p>

<p>
  <b>Market name:</b>
  <%= @contract_detail.market_name %>
</p>

<p>
  <b>Trading class:</b>
  <%= @contract_detail.trading_class %>
</p>

<p>
  <b>Min tick:</b>
  <%= @contract_detail.min_tick %>
</p>

<p>
  <b>Price magnifier:</b>
  <%= @contract_detail.price_magnifier %>
</p>

<p>
  <b>Order types:</b>
  <%= @contract_detail.order_types %>
</p>

<p>
  <b>Valid exchanges:</b>
  <%= @contract_detail.valid_exchanges %>
</p>

<p>
  <b>Under con:</b>
  <%= @contract_detail.under_con_id %>
</p>

<p>
  <b>Long name:</b>
  <%= @contract_detail.long_name %>
</p>

<p>
  <b>Contract month:</b>
  <%= @contract_detail.contract_month %>
</p>

<p>
  <b>Industry:</b>
  <%= @contract_detail.industry %>
</p>

<p>
  <b>Category:</b>
  <%= @contract_detail.category %>
</p>

<p>
  <b>Subcategory:</b>
  <%= @contract_detail.subcategory %>
</p>

<p>
  <b>Time zone:</b>
  <%= @contract_detail.time_zone %>
</p>

<p>
  <b>Trading hours:</b>
  <%= @contract_detail.trading_hours %>
</p>

<p>
  <b>Liquid hours:</b>
  <%= @contract_detail.liquid_hours %>
</p>

<p>
  <b>Cusip:</b>
  <%= @contract_detail.cusip %>
</p>

<p>
  <b>Ratings:</b>
  <%= @contract_detail.ratings %>
</p>

<p>
  <b>Desc append:</b>
  <%= @contract_detail.desc_append %>
</p>

<p>
  <b>Bond type:</b>
  <%= @contract_detail.bond_type %>
</p>

<p>
  <b>Oupon type:</b>
  <%= @contract_detail.oupon_type %>
</p>

<p>
  <b>Coupon:</b>
  <%= @contract_detail.coupon %>
</p>

<p>
  <b>Maturity:</b>
  <%= @contract_detail.maturity %>
</p>

<p>
  <b>Issue date:</b>
  <%= @contract_detail.issue_date %>
</p>

<p>
  <b>Next option date:</b>
  <%= @contract_detail.next_option_date %>
</p>

<p>
  <b>Next option type:</b>
  <%= @contract_detail.next_option_type %>
</p>

<p>
  <b>Notes:</b>
  <%= @contract_detail.notes %>
</p>

<p>
  <b>Callable:</b>
  <%= @contract_detail.callable %>
</p>

<p>
  <b>Puttable:</b>
  <%= @contract_detail.puttable %>
</p>

<p>
  <b>Convertible:</b>
  <%= @contract_detail.convertible %>
</p>

<p>
  <b>Next option partial:</b>
  <%= @contract_detail.next_option_partial %>
</p>


<%= link_to 'Edit', edit_contract_detail_path(@contract_detail) %> |
<%= link_to 'Back', contract_details_path %>
