<h1>Listing underlyings</h1>

<table>
  <tr>
    <th>Contract</th>
    <th>Con_id</th>
    <th>Delta</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @underlyings.each do |underlying| %>
  <tr>
    <td><%= underlying.contract_id %></td>
    <td><%= underlying.con_id %></td>
    <td><%= underlying.delta %></td>
    <td><%= underlying.price %></td>
    <td><%= link_to 'Show', underlying %></td>
    <td><%= link_to 'Edit', edit_underlying_path(underlying) %></td>
    <td><%= link_to 'Destroy', underlying, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Underlying', new_underlying_path %>
