<p id="notice"><%= notice %></p>

<p>
  <b>Contract:</b>
  <%= @underlying.contract_id %>
</p>

<p>
  <b>Con:</b>
  <%= @underlying.con_id %>
</p>

<p>
  <b>Delta:</b>
  <%= @underlying.delta %>
</p>

<p>
  <b>Price:</b>
  <%= @underlying.price %>
</p>


<%= link_to 'Edit', edit_underlying_path(@underlying) %> |
<%= link_to 'Back', underlyings_path %>
