<%= form_for(@contract) do |f| %>
  <% if @contract.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contract.errors.count, "error") %> prohibited this contract from being saved:</h2>

      <ul>
      <% @contract.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :con_id %><br />
    <%= f.number_field :con_id %>
  </div>
  <div class="field">
    <%= f.label :sec_type %><br />
    <%= f.text_field :sec_type %>
  </div>
  <div class="field">
    <%= f.label :strike %><br />
    <%= f.text_field :strike %>
  </div>
  <div class="field">
    <%= f.label :currency %><br />
    <%= f.text_field :currency %>
  </div>
  <div class="field">
    <%= f.label :sec_id %><br />
    <%= f.text_field :sec_id %>
  </div>
  <div class="field">
    <%= f.label :sec_id_type %><br />
    <%= f.text_field :sec_id_type %>
  </div>
  <div class="field">
    <%= f.label :legs_description %><br />
    <%= f.text_field :legs_description %>
  </div>
  <div class="field">
    <%= f.label :symbol %><br />
    <%= f.text_field :symbol %>
  </div>
  <div class="field">
    <%= f.label :local_symbol %><br />
    <%= f.text_field :local_symbol %>
  </div>
  <div class="field">
    <%= f.label :multiplier %><br />
    <%= f.number_field :multiplier %>
  </div>
  <div class="field">
    <%= f.label :expiry %><br />
    <%= f.text_field :expiry %>
  </div>
  <div class="field">
    <%= f.label :exchange %><br />
    <%= f.text_field :exchange %>
  </div>
  <div class="field">
    <%= f.label :primary_exchange %><br />
    <%= f.text_field :primary_exchange %>
  </div>
  <div class="field">
    <%= f.label :include_expired %><br />
    <%= f.check_box :include_expired %>
  </div>
  <div class="field">
    <%= f.label :right %><br />
    <%= f.text_field :right %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
