<h1>Listing contracts</h1>

<table>
  <tr>
    <th>Con</th>
    <th>Sec type</th>
    <th>Strike</th>
    <th>Currency</th>
    <th>Sec</th>
    <th>Sec id type</th>
    <th>Legs description</th>
    <th>Symbol</th>
    <th>Local symbol</th>
    <th>Multiplier</th>
    <th>Expiry</th>
    <th>Exchange</th>
    <th>Primary exchange</th>
    <th>Include expired</th>
    <th>Right</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contracts.each do |contract| %>
  <tr>
    <td><%= contract.con_id %></td>
    <td><%= contract.sec_type %></td>
    <td><%= contract.strike %></td>
    <td><%= contract.currency %></td>
    <td><%= contract.sec_id %></td>
    <td><%= contract.sec_id_type %></td>
    <td><%= contract.legs_description %></td>
    <td><%= contract.symbol %></td>
    <td><%= contract.local_symbol %></td>
    <td><%= contract.multiplier %></td>
    <td><%= contract.expiry %></td>
    <td><%= contract.exchange %></td>
    <td><%= contract.primary_exchange %></td>
    <td><%= contract.include_expired %></td>
    <td><%= contract.right %></td>
    <td><%= contract.type %></td>
    <td><%= link_to 'Show', contract %></td>
    <td><%= link_to 'Edit', edit_contract_path(contract) %></td>
    <td><%= link_to 'Destroy', contract, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contract', new_contract_path %>
