<p id="notice"><%= notice %></p>

<p>
  <b>Con:</b>
  <%= @contract.con_id %>
</p>

<p>
  <b>Sec type:</b>
  <%= @contract.sec_type %>
</p>

<p>
  <b>Strike:</b>
  <%= @contract.strike %>
</p>

<p>
  <b>Currency:</b>
  <%= @contract.currency %>
</p>

<p>
  <b>Sec:</b>
  <%= @contract.sec_id %>
</p>

<p>
  <b>Sec id type:</b>
  <%= @contract.sec_id_type %>
</p>

<p>
  <b>Legs description:</b>
  <%= @contract.legs_description %>
</p>

<p>
  <b>Symbol:</b>
  <%= @contract.symbol %>
</p>

<p>
  <b>Local symbol:</b>
  <%= @contract.local_symbol %>
</p>

<p>
  <b>Multiplier:</b>
  <%= @contract.multiplier %>
</p>

<p>
  <b>Expiry:</b>
  <%= @contract.expiry %>
</p>

<p>
  <b>Exchange:</b>
  <%= @contract.exchange %>
</p>

<p>
  <b>Primary exchange:</b>
  <%= @contract.primary_exchange %>
</p>

<p>
  <b>Include expired:</b>
  <%= @contract.include_expired %>
</p>

<p>
  <b>Right:</b>
  <%= @contract.right %>
</p>

<p>
  <b>Type:</b>
  <%= @contract.type %>
</p>


<%= link_to 'Edit', edit_contract_path(@contract) %> |
<%= link_to 'Back', contracts_path %>
