<%= form_for(@execution) do |f| %>
  <% if @execution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@execution.errors.count, "error") %> prohibited this execution from being saved:</h2>

      <ul>
      <% @execution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :order_id %><br />
    <%= f.number_field :order_id %>
  </div>
  <div class="field">
    <%= f.label :local_id %><br />
    <%= f.number_field :local_id %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br />
    <%= f.number_field :client_id %>
  </div>
  <div class="field">
    <%= f.label :perm_id %><br />
    <%= f.number_field :perm_id %>
  </div>
  <div class="field">
    <%= f.label :order_ref %><br />
    <%= f.text_field :order_ref %>
  </div>
  <div class="field">
    <%= f.label :exec_id %><br />
    <%= f.text_field :exec_id %>
  </div>
  <div class="field">
    <%= f.label :side %><br />
    <%= f.text_field :side %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br />
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :cumulative_quantity %><br />
    <%= f.number_field :cumulative_quantity %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :average_price %><br />
    <%= f.text_field :average_price %>
  </div>
  <div class="field">
    <%= f.label :exchange %><br />
    <%= f.text_field :exchange %>
  </div>
  <div class="field">
    <%= f.label :account_name %><br />
    <%= f.text_field :account_name %>
  </div>
  <div class="field">
    <%= f.label :liquidation %><br />
    <%= f.check_box :liquidation %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.text_field :time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
