<h1>Listing executions</h1>

<table>
  <tr>
    <th>Order</th>
    <th>Local</th>
    <th>Client</th>
    <th>Perm</th>
    <th>Order ref</th>
    <th>Exec</th>
    <th>Side</th>
    <th>Quantity</th>
    <th>Cumulative quantity</th>
    <th>Price</th>
    <th>Average price</th>
    <th>Exchange</th>
    <th>Account name</th>
    <th>Liquidation</th>
    <th>Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @executions.each do |execution| %>
  <tr>
    <td><%= execution.order_id %></td>
    <td><%= execution.local_id %></td>
    <td><%= execution.client_id %></td>
    <td><%= execution.perm_id %></td>
    <td><%= execution.order_ref %></td>
    <td><%= execution.exec_id %></td>
    <td><%= execution.side %></td>
    <td><%= execution.quantity %></td>
    <td><%= execution.cumulative_quantity %></td>
    <td><%= execution.price %></td>
    <td><%= execution.average_price %></td>
    <td><%= execution.exchange %></td>
    <td><%= execution.account_name %></td>
    <td><%= execution.liquidation %></td>
    <td><%= execution.time %></td>
    <td><%= link_to 'Show', execution %></td>
    <td><%= link_to 'Edit', edit_execution_path(execution) %></td>
    <td><%= link_to 'Destroy', execution, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Execution', new_execution_path %>
