<p id="notice"><%= notice %></p>

<p>
  <b>Order:</b>
  <%= @execution.order_id %>
</p>

<p>
  <b>Local:</b>
  <%= @execution.local_id %>
</p>

<p>
  <b>Client:</b>
  <%= @execution.client_id %>
</p>

<p>
  <b>Perm:</b>
  <%= @execution.perm_id %>
</p>

<p>
  <b>Order ref:</b>
  <%= @execution.order_ref %>
</p>

<p>
  <b>Exec:</b>
  <%= @execution.exec_id %>
</p>

<p>
  <b>Side:</b>
  <%= @execution.side %>
</p>

<p>
  <b>Quantity:</b>
  <%= @execution.quantity %>
</p>

<p>
  <b>Cumulative quantity:</b>
  <%= @execution.cumulative_quantity %>
</p>

<p>
  <b>Price:</b>
  <%= @execution.price %>
</p>

<p>
  <b>Average price:</b>
  <%= @execution.average_price %>
</p>

<p>
  <b>Exchange:</b>
  <%= @execution.exchange %>
</p>

<p>
  <b>Account name:</b>
  <%= @execution.account_name %>
</p>

<p>
  <b>Liquidation:</b>
  <%= @execution.liquidation %>
</p>

<p>
  <b>Time:</b>
  <%= @execution.time %>
</p>


<%= link_to 'Edit', edit_execution_path(@execution) %> |
<%= link_to 'Back', executions_path %>
