<%= form_for(@bar) do |f| %>
  <% if @bar.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bar.errors.count, "error") %> prohibited this bar from being saved:</h2>

      <ul>
      <% @bar.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :contract_id %><br />
    <%= f.number_field :contract_id %>
  </div>
  <div class="field">
    <%= f.label :open %><br />
    <%= f.text_field :open %>
  </div>
  <div class="field">
    <%= f.label :high %><br />
    <%= f.text_field :high %>
  </div>
  <div class="field">
    <%= f.label :low %><br />
    <%= f.text_field :low %>
  </div>
  <div class="field">
    <%= f.label :close %><br />
    <%= f.text_field :close %>
  </div>
  <div class="field">
    <%= f.label :wap %><br />
    <%= f.text_field :wap %>
  </div>
  <div class="field">
    <%= f.label :volume %><br />
    <%= f.number_field :volume %>
  </div>
  <div class="field">
    <%= f.label :trades %><br />
    <%= f.number_field :trades %>
  </div>
  <div class="field">
    <%= f.label :has_gaps %><br />
    <%= f.check_box :has_gaps %>
  </div>
  <div class="field">
    <%= f.label :time %><br />
    <%= f.text_field :time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
