<h1>Listing bars</h1>

<table>
  <tr>
    <th>Contract</th>
    <th>Open</th>
    <th>High</th>
    <th>Low</th>
    <th>Close</th>
    <th>Wap</th>
    <th>Volume</th>
    <th>Trades</th>
    <th>Gaps?</th>
    <th>Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @bars.each do |bar| %>
  <tr>
    <td><%= bar.contract_id %></td>
    <td><%= bar.open %></td>
    <td><%= bar.high %></td>
    <td><%= bar.low %></td>
    <td><%= bar.close %></td>
    <td><%= bar.wap %></td>
    <td><%= bar.volume %></td>
    <td><%= bar.trades %></td>
    <td><%= bar.has_gaps %></td>
    <td><%= bar.time %></td>
    <td><%= link_to 'Show', bar %></td>
    <td><%= link_to 'Edit', edit_bar_path(bar) %></td>
    <td><%= link_to 'Destroy', bar, :method => :delete, :data => { :confirm => 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bar', new_bar_path %>
