<p id="notice"><%= notice %></p>

<p>
  <b>Contract:</b>
  <%= @bar.contract_id %>
</p>

<p>
  <b>Open:</b>
  <%= @bar.open %>
</p>

<p>
  <b>High:</b>
  <%= @bar.high %>
</p>

<p>
  <b>Low:</b>
  <%= @bar.low %>
</p>

<p>
  <b>Close:</b>
  <%= @bar.close %>
</p>

<p>
  <b>Wap:</b>
  <%= @bar.wap %>
</p>

<p>
  <b>Volume:</b>
  <%= @bar.volume %>
</p>

<p>
  <b>Trades:</b>
  <%= @bar.trades %>
</p>

<p>
  <b>Has gaps:</b>
  <%= @bar.has_gaps %>
</p>

<p>
  <b>Time:</b>
  <%= @bar.time %>
</p>


<%= link_to 'Edit', edit_bar_path(@bar) %> |
<%= link_to 'Back', bars_path %>
